html, body {
    margin: 0;
    height: 100%;
}
#app {
    overflow: hidden;
    height: 100%;
}
.menu {
    position: absolute;
    top: 40px;
    left: 40px;
    /*width: 600px;*/
    background-color: white;
}
.color-form {
    display: flex;
    flex-wrap: nowrap;
}
