html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font: 16px verdana;
}
#app-container, #app {
    height: 100%;
    overflow: hidden;
}

#menu-wrapper {
    position: absolute;
    margin: 10px;
    width: calc(100% - 40px);
    max-width: 400px;
}

.menu {
    background-color: white;
    box-shadow:  4px 4px 2px 1px rgba(0, 0, 255, .2);
    border-radius: 6px;
    padding: 10px;
}

button {
    background-color: #f0f0f0;
    color: black;
    font-size: inherit;
    padding: 10px;
    border: 1px outset black;
}

button.small {
    padding: 4px;
}

button:active {
    border: 1px inset black;
}

svg.grid {
    width: 100%;
    height: 100%;
}

.menu-content {
    margin-top: 20px;
}

.color-form fieldset {
    border: 0px;
    border-radius: 5px;
}

.color-form div {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}
.color-form label {
    width: 6ch;
    flex: 1 0 auto;
}

.slider-wrapper {
    flex: 1 1 auto;
}

.color-form input[type=range] {
    flex: 1 0 auto;
    width: 95%;
    min-width: 70px;
}

@media only screen and (max-width: 280px){
    .color-form input[type=range] {
        display: none;
    }
}

.color-form input[type=number] {
    flex: initial;
    width: 5ch;
    font: inherit;
}
